.contact-box {
    //background: $blue;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 170rem;
}

.contact-box__content {
    // background: $blue;
    font-size:$font-size-small;
    font-weight: 300;
}

.contact-box__social {
    text-align: center;
    a {
        color:inherit;
        text-decoration: none;
    }
    
}